web:
    hooks:
        bPayment:
            title: "B-Payment"
            secretKey: "Your 'Secret Key'"
            merchantId: "Your 'Merchant ID'"
            gatewayId: "Your 'Payment Gateway'"