web:
    hooks:
        bPayment:
            title: "B-Payment"
            secretKey: "Your 'Secret Key'"
            merchantNumber: "Your 'Merchant number'"
            gatewayId: "Your 'Payment gateway'"