web:
    hooks:
        bPayment:
            title: "B-Payment"
            secretKey: "Váš 'Secret Key'"
            merchantNumber: "Váš 'Merchant number'"
            gatewayId: "Váš 'Payment gateway'"